* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    color: #f4f4f9;
    background-color: #1b1f3b;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    position: relative;
}

header {
    text-align: center;
    margin-bottom: 2rem;
    align-self: center;
}

h1 {
    font-size: 3rem;
    color: #00d9ff;
}

h2 {
    font-size: 2rem;
    color: #00d9ff;
    margin-top: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

p {
    margin: 1rem 0;
}

ul {
    list-style-type: disc;
    margin-left: 2rem;
}

a,
strong {
    color: #00d9ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    background-color: #00d9ff;
    color: #1b1f3b;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px auto;
    width: fit-content;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 1rem;
}

.btn:hover {
    background-color: #00a3cc;
    transform: scale(1.05);
}


footer {
    margin-top: 3rem;
    font-size: 0.9rem;
    color: #707586;
    text-align: center;
    align-self: center;
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#contact-form {
    align-self: center;
    width: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.group {
    display: flex;
    gap: 5px;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
}

.radio-group {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}


label {
    margin-top: 1rem;
    font-weight: bold;
}

input,
textarea,
select {
    width: 50%;
    padding: 0.725rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 0.5rem;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input:focus,
textarea:focus {
    border-color: #00d9ff;
    outline: none;
}

textarea {
    resize: vertical;
}

@media (max-width:700px) {
    h1{
        font-size: 2.5rem;
    }

    #contact-form {
        width: 100%;
    }

    .group {
        font-size: 0.75rem;
    }

    label {
        margin-top: 0.75rem;
    }

    input,
    textarea,
    select {
        padding: 0.25rem;
        margin-top: 0.5rem;
        font-size: 0.75rem;
    }
}

.spinner-container {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* The rotating circle */
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #4CAF50;
    border-left-color: #4CAF50;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}